<div class="col-4">
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio-choice-<%=choice.id%>"><%=choice.value%>
    </label>
  </div>
</div>