	
<div class="col-6 offset-3">
	<select class="custom-select" id="question-box-dropdown">

		<%= question.choices.each_with_index do |choice, i| %>
			<option value="<%= i %>"><%= choice.value %></option>
		<% end %>

	</select>
</div>