<div class="col-10 offset-1">
  <div class="row align-items-center multiple-choice-list">
    <%= render partial: 'questions/choice', collection: question.choices, locals: { question: question } %>
  </div>
</div>