
<div class="col-8 offset-2 question-box" id="question-<%= question.id %>">
	<div class="row">
		<div class="col-10 question-title">
			<h3><%= question.title %></h3>
		</div>
		<div class="col-2 question-delete">
      <%= link_to "X" , { controller: 'questions', action: 'destroy', id: question.id }, { class: 'btn btn-danger delete-question-button', method: 'delete', remote: true } %>
		</div>
	</div>
	<div class="row fill-height align-items-center">
		<div class="col-12 question-content">
			<%= render partial: 'questions/' + question.question_type.gsub(' ', '_').downcase, locals: { question: question } if question.question_type != "" %>

		</div>
	</div>
</div>