
<div class="col-8 offset-2 question-box" id="question-<%= question.id %>">
	<div class="row no-gutters">
		<div class="col-10 offset-1 highlight">
			<div class="question-title"><%= question.title %></div>
		</div>
		<div class="col-1 question-delete">
      <%= link_to "X" , { controller: 'questions', action: 'destroy', id: question.id }, { class: 'btn btn-danger delete-question-button', method: 'delete', remote: true } %>
		</div>
	</div>
	<div class="row fill-height align-items-center">
		<div class="col-12 question-content">
			<%= render partial: 'questions/' + question.question_type.gsub(' ', '_').downcase, locals: { question: question } if question.question_type != "" %>
		</div>
	</div>
</div>