<div class="col-10 offset-1">
  <!-- Header -->
  <div class="row" id="question-logic-header">
    <div class="col-12" id="question-logic-title">Question Logic</div>
  </div>

  <div class="row" id="question-logic-choice">
    <!-- Choice -->
    <% if question.allow_multiple_answers == true && question.question_type == "Multiple Choice"%>
      <div class="col-12" id="logic-dropdown-label">
        <div>If choices:</div>
      </div>    
      <% question.choices.each do |choice| %>
        <div class="col-4" style="text-align: center;">
          <input class="form-check-input" type="checkbox" ><%= choice.value %>
        </div>
      <% end %>
    <% else %>
      <div class="col-4" id="logic-dropdown-label">
        <div>If choice:</div>
      </div>    
      <div class="col-8">
        <select class="custom-select question-logic-dropdown fill-width">
          <% question.choices.each do |choice| %>
            <%= render partial: 'questions/dropdown_choice', locals: {choice: choice} %>
          <% end %>
        </select>
      </div>
    <% end %>
  </div>

  <div class="row" id="question-logic-selection">
    <!-- Show Questions -->
    <div class="col-12">
      <div>Show Questions:</div>
    </div>
    <% questions.each do |question| %>
      <div class="col-4" style="text-align: center;">
        <input class="form-check-input" type="checkbox" ><%= question.sequence %>
      </div>
    <% end %>
  </div>

</div>