#sidebar-display {

  #sidebar-title-row-display {
    text-align: center;
    border-bottom-style: solid;
  }

  #submit-survey-row-display {

    #recipients {
      margin: 15px 0;
    }

    .btn {
      margin: 15px 0;
    }
  }
}