<div class="input-group" id="sidebar-choice-<%= choice.id %>">
    <div class="choice" ><%= choice.value %></div>
    <%= link_to "X" , { controller: 'choices', action: 'destroy', question_id: choice.question_id, id: choice.id }, { class: 'btn btn-danger delete-choice-button', method: 'delete', remote: true } %>
</div>