<div class="col-12 question-<%= question.id %>" id="sidebar-choice-list">
	<%= render partial: 'sidebar/choice_list', locals: {question: question} %>
	<!-- Add button to add choice values -->
	<button class="btn btn-warning" id="add-new-choice-button" type="button">Add Choice</button>
</div>

