<div class="col-11 offset-1" id="multiple-choice">

	<!-- Checkbox for multiple selection; if no, use radio buttons, else checkboxes -->

	<!-- For loop through choices -->

	<!-- Add button to add choice values -->

	
</div>