

<div class="row no-gutters align-items-center" id="sidebar-question-content">

	<!-- Question Content -->
	<div class="col-12">

		<div class="row" id="required-row">

		</div>



		<!-- Question Logic -->
		<div class="row fill-width question-logic" id="question-logic-<%= question.id %>">
			<!-- <= render partial: 'sidebar/sidbar-choice-logic', locals: { question: question } if question.question_type != "" %> -->
		</div>
<!-- 		<div class="row fill-width question-logic" id="question-logic-<%= question.id %>">
			<= render partial: 'sidebar/logic/logic', locals: { question: question, questions: questions } if question.question_type != "" %>
		</div> -->
	</div>
</div>
