<div class="col-12">
  <%= link_to "Add Child Question" , { controller: 'questions', action: 'create', question: {survey_id: question.survey_id, title: "New Child Question", is_required: false, question_type: "" }}, { class: 'btn btn-primary', method: 'post', remote: true } %>
</div>