

<div class="row no-gutters" id="sidebar-title-row-display">
  <div class="col-10 offset-1"><h1 id="sidebar-title-display">Emails</h1></div>
</div>

<div class="row no-gutters">
  <div class="col-10 offset-1" id="sidebar-email-list"></div>
</div>

<div class="row no-gutters" id="submit-survey-row-display">
  <div class="col-10 offset-1">
    <%= form_tag(surveys_send_path(id: survey.id), method: 'get') do %>
      <input class="fill-width" id="recipients" placeholder="Recipients (separated by ;)" type="text" name="recipients"/>
      <%= hidden_field_tag "id", survey.id%>
      <%= submit_tag("Send Survey", class: "btn btn-primary fill-width") %>
    <% end %>
  </div>
</div>