#survey-title-box {

  height: 200px;
  padding: 0;
  position: relative;

  #survey-title-color-col {
    margin: 0;
    text-align: center;
  }

  #survey-title-col {
    margin: 0;

    #survey-title {  
      margin: auto auto;
      font-size: 2em;
      height: 55px;
    }
  }

  #survey-color-box {
    position: absolute;
    bottom: 10px;
    right: 10px;
    
    div#survey-color {
      color: gray;

      &:hover {
        color: black;
        cursor: pointer
      }
    }
  }
}