
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Please take my survey</h1>
    <p>
      To take my survey, just follow this link: <%= @url %>
    </p>
    <p>Thank you for your time!</p>
  </body>
</html>