<div class="container fill">

	<h1>Survey List</h1>
	<%= render partial: 'survey_list' %>

	<div class="row align-items-center">

		<div class="col-6 offset-3" id="create-survey">

			<%= form_tag(controller: "surveys", action: "create", method: "post") do %>
				<div class="form-group row">
					<div class="col-6">
						<%= text_field_tag(:title, nil, {class: 'form-control', placeholder: 'Survey Title', value: 'New Survey'}) %>
					</div>
					<div class="col-6">
						<%= submit_tag("Add New Survey", class: 'btn btn-primary') %>
					</div>
				</div>
			<% end %>
		</div>

	</div>
</div>