<div class="container-fluid" id="survey-container">
	<div class="row">
		<div class="col-9 offset-1" id="survey">
			<h1>New Survey</h1>
		</div>
		<div class="col-2 sidebar">
			<h1>Sidebar</h1>
		</div>
	</div>
</div>