/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import "jquery.selectric";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import "font-awesome";

@import "answers.scss";
@import "choices.scss";
@import "footer.scss";
@import "header.scss";

@import "display/survey/survey.scss";
@import "display/survey/survey_body.scss";
@import "display/survey/survey_title.scss";

@import "display/questions/questions.scss";

@import "display/questions/question_types/dropdown.scss";
@import "display/questions/question_types/free_response.scss";
@import "display/questions/question_types/multiple_choice.scss";
@import "display/questions/question_types/question_types.scss";

@import "display/sidebar/sidebar.scss";

@import "question_boxes/question_box.scss";
@import "question_boxes/question_box_new.scss";
@import "question_boxes/question_box_title.scss";

@import "question_boxes/question_choices/choices.scss";

@import "responses.scss";

@import "survey/create_survey.scss";
@import "survey/survey_page.scss";
@import "survey/survey_title.scss";

@import "users.scss";

@import "sidebar/sidebar.scss";

@import "sidebar/question_options/question_box.scss";
@import "sidebar/question_options/question_required.scss";
@import "sidebar/question_options/question_type.scss";

@import "question_logic.scss";

html {
	height: 100%;
	body {
		height: 100%;
	}
}

.btn {
	cursor: pointer;
}

.center {
	margin: auto auto;
}

.checkbox-column {
	text-align: right;
	
	.custom-checkbox {
		margin-right: 0;

		.custom-control-indicator {
			width: 1.5rem;
			height: 1.5rem;
		}	
	}
}

.container-fluid {
	padding: 0;
}

.fill, .fill-height {
  height: 100%;
}

.fill-width {
  width: 100%;
}

.fill-min {
	min-height: 100%;
}

.form-check .form-check-inline .center {

	&:hover {
		cursor: pointer;
	}
}

.highlight {
	margin: auto auto;
	&:hover {
		border: solid gray thin;
		cursor: pointer;
	}
}

.min-height {
	min-height: 300px;
}

.open-sans, input {
	font-family: 'Open Sans', sans-serif;
	color: #555;
}
