#survey-questions {
	padding: 0;
}


#add-new-question-box {
	&:hover {
		cursor: default;
	}

	#new-question {
	height: inherit;
	line-height: 300px; /*Needs to be the same as height for vertical alignment*/

		.btn, .button_to {
			vertical-align: middle;
			width: 100%;
		}
	}
}

.question-box, .new-question-box {
	border-style: dotted;
	height: 300px;
	margin-top: 25px;

	&:hover {
		cursor: pointer;
	}

	.question-delete {
		text-align: center;
		padding: 5px 10px 0px 0px;
	}

	.question-content {
		text-align: center;

		#freeresponse-textarea {
			width: 100%;
			border-radius: 5px;
			max-height: 200px;
		}

		.question-box-dropdown {
			width: 100%;

			&:hover {
				cursor: pointer;
			}
		}
	}
}
