.question-logic {

  #question-logic-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 25px;
  }

  #logic-dropdown-label {
    margin: auto auto;
  }

  .question-logic-dropdown {

    &:hover {
      cursor: pointer;
    }
  }

}