#survey-questions {
	padding: 0;

	#add-new-question-box {
		#new-question {
		height: inherit;
		line-height: 300px; /*Needs to be the same as height for vertical alignment*/

			.btn {
				vertical-align: middle;
				width: 100%;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.question-box {
		border-style: dotted;
		height: 300px;
		margin-top: 25px;

		&:hover {
			cursor: pointer;
			background-color: gray;
		}



		.question-title {
			padding: 5px 5px 0px 20px;

			h3 {
				display: inline;

				&:hover {
					cursor: pointer;
					background-color: black;
					color: white;
				}
			}
			input {
				width: 100%;
				font-size: 1.75rem;
			}

		}

		.question-delete {
			text-align: center;
			padding: 5px 10px 0px 0px;

			.btn {

				&:hover {
					cursor: pointer;
				}
			}
		}

		.question-content {
			text-align: center;

			h4 {

			}

			#question-box-dropdown {
				width: 100%;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.active-question {
		border-style: solid;
		border-color: green;
	}
}