#sidebar {
	background-color: white;
	position: fixed;
	right: 0;

	#sidebar-question-title {
		border-bottom-style: solid;

		.col-12 {
			text-align: center;
			h1 {
				margin: 10px auto;
			}
		}
	}

	#sidebar-question-content {
		font-size: 1em;

		#required-row {

			margin-top: 10px;
			margin-bottom: 10px;

			#checkbox-column {
				text-align: right;

				.custom-checkbox {
					margin-right: 0;

					.custom-control-indicator {
						width: 1.5rem;
						height: 1.5rem;
					}	
				}
			}
		}

		#type-row {

			margin-top: 10px;
			margin-bottom: 10px;

			.custom-select {
				height: initial;
			}

			#question-type {
				width: 100%;

				&:hover {
					cursor: pointer;
				}
			}

			#question-type-content {
				margin: 10px 0;
				padding: 0px;

				.choice {
					width: 100%;
				}

				#sidebar-choice-list {
					overflow-y: scroll;
					height: 300px;

					div .choice {
						margin: auto 0;
						padding: 5px;

						&:hover {
							border-style: solid;
							border-width: 1px;
							border-color: gray;
							cursor: pointer;
						}

					}

					input .choice {
						margin: 10px 0;

					}

					.delete-choice-button {
						margin: 10px 0;
						font-size: 1em;
					}

					#add-new-choice-button {
						width: 100%;

						&:hover {
							cursor: pointer;
						}
					}
				}

			}
		}

	}
}