// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#survey-list {

}

#create-survey {

	margin-top: 50px;

	form {
		
		.form-control {

		}

	}

	.btn {
		width: 100%;
		cursor: pointer;
	}
}

.survey {
	padding: 0;
	background-color: white;

	border-style: none solid;
	border-color: black;
	border-width: 2px;

	
	#survey-title-box {

		height: 200px;
		padding: 0;
		position: relative;

		#survey-title{	
			margin: auto auto;
			font-size: 2em;
		}

		#survey-color-box {
			position: absolute;
			bottom: 10px;
			right: 10px;
			
			div#survey-color {
				color: gray;

				&:hover {
					color: black;
					cursor: pointer
				}
			}
		}
	}
}
