// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border {
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

#survey-list {

}

#create-survey {

	margin-top: 50px;

	form {
		
		.form-control {

		}

	}

	.btn {
		width: 100%;

		cursor: pointer;
	}
}



#survey {
	padding: 0;
	background-color: white;

	border-style: none solid;
	border-color: black;
	border-width: 2px;

	
	#survey-title-box {

		height: 200px;
		padding: 0;

		h1{	
			cursor: pointer;

			&:hover {
				background-color: white;
			}
		}
		input {
			 font-size: 2.5rem;
		}
	}
}
